<div class="container">
  <header class="w3-container w3-teal"> <h1>HELLO WORLD,</h1></header>
<div class="container2">
 <!--img src="../images/ubuntu-16.jpg" alt="ubuntu-16" width="300" height="200"-->

<div class="form  w3-animate-zoom">
<h2>ESTOU PROGRAMANDO RUBY on RAILS</h2>
<div class="w3-card-4 w3-margin">

<div class="w3-container w3-brown"> <h2>Crie o seu proprio projecto</h2> </div>

<form class="w3-container">
  <p><label class="w3-label w3-text-brown"><b>Seu nome completo</b></label>
  <input class="w3-input w3-border w3-sand" type="text"></p>

  <p><label class="w3-label w3-text-brown"><b>Seu apelido</b></label>
  <input class="w3-input w3-border w3-sand" type="text"></p>
  <select class="w3-select" name="option">
   <option value="" disabled selected>Escolha um opcao</option>
   <option value="1">Option 1</option>
   <option value="2">Option 2</option>
   <option value="3">Option 3</option>
 </select>
  <p><button class="w3-btn w3-brown">Registar</button></p>
</form>
</div>
</div>
</div>
</div>
